:root {
    color-scheme: dark;
  }
  
  body {
    background-color: #1a1b1e !important;
    color: #fefdfb !important;
  }
  
.center-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 25px;
    min-width: 400px;
    max-width: 1200px;

    
      
    .sub-header-wrapper {
        background-color: #1F1F21;
        margin-top: 40px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 75%;
        padding: 20px;
        -webkit-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
    }
      
    .subheader {
        font-size: 30px;
        text-align: center;
        text-decoration: white underline;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .button-link {
        width: 75%;
        height: 60px;
        font-size: 30px !important;
        color: #2B2B2B !important;
    }
      
    .button-link:hover {
        -webkit-box-shadow: 4px 10px 27px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 10px 27px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 10px 27px -3px rgba(0, 0, 0, 0.75);
    }
      
    .button-icon {
        margin-top: -6px;
        margin-right: 10px;
        width: 30px;
    }

}

  .bottom-links {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px !important;
    text-align: center;
    padding: 50px 30px 40px 30px;
    background-color: #1F1F21;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 75%;
    -webkit-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
    }
  
  .profile-icon-wrapper {
    background-color: #1F1F21;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 75%;
    height: 250px;
    text-align: center;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);

    .profile-icon {
        border-radius: 400px;
        width: 200px;
        height: auto;
        opacity: 90%;
        user-select: none;
        margin-top: -60px;
        -webkit-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.5);
        -webkit-user-drag: none;
      }
        
      .header {
        margin-top: 30px;
      }

  }
